@tailwind base;
@tailwind components;
@tailwind utilities;

.toast-error-bg{
    background: rgb(242,191,189);
background: linear-gradient(90deg, rgba(242,191,189,1) 0%, rgba(255,255,255,1) 25%, rgba(252,252,252,1) 100%);
}

.toast-success-bg{
    background: rgb(242,191,189);
    background: linear-gradient(90deg, #c2e7d3 0%, rgba(255,255,255,1) 25%, rgba(252,252,252,1) 100%);
}